body{
  padding:0px;
	margin:0px;
}

.heading{
	background-color: #001a33;
	color: #ffffff;
	font-size: large;
}

#sideMenu{
	background-color: #001a33;
	color: #ffffff;
	padding:0px;
	margin:0px;
}

#sideMenu:hover { 
  background-color: #00000;
  color: #ffffff;
}
